# Code owners will be used to identify maintainers, notably
# for developmental and contributed code

# Overall (non-specific)
* @sufikaur @ksbeattie
# packaging
setup.py @sufikaur @ksbeattie
requirements*.txt @sufikaur @ksbeattie 

# CI infra
.github/ @sufikaur @ksbeattie 
# spellchecker configuration
.github/workflows/typos.toml @bpaul4 @sufikaur

# testing
pytest*.ini @sufikaur @ksbeattie
conftest.py @sufikaur @ksbeattie

# Docs
/docs @dangunter @bpaul4

# Commands
/idaes/commands/ @dangunter

# Core
/idaes/core/ @agarciadiego @dallan-keylogic
/idaes/core/dmf/ @dangunter
/idaes/core/surrogate/ @bpaul4 @avdudchenko @rundxdi
/idaes/core/ui/ @dangunter

# Models
/idaes/models/ @agarciadiego @bpaul4
/idaes/models/properties/ @agarciadiego @dallan-keylogic 

# Apps - each package needs a maintainer
/idaes/apps/caprese/ @Robbybp
/idaes/apps/grid_integration/ @jsiirola @adowling2
#     /idaes/apps/matopt/ TBD
/idaes/apps/nmpc/ @Robbybp
/idaes/apps/uncertainty_propagation/ @adowling2

# Models Extra - each package needs a maintainer
#     /idaes/models_extra/carbon_capture TBD
/idaes/models_extra/column_models/ @aostace01 @agarciadiego
/idaes/models_extra/gas_distribution/ @Robbybp
/idaes/models_extra/gas_solids_contactors/ @aostace01
/idaes/models_extra/power_generation/ @bpaul4 @MAZamarripa
/idaes/models_extra/power_generation/costing/ @MAZamarripa @AlexNoring
/idaes/models_extra/power_generation/properties/ @bpaul4 @AlexNoring
/idaes/models_extra/power_generation/unit_models/soc_submodels/ @bpaul4 @dallan-keylogic

# Scripts
/scripts/colab_helper.py @adowling2