# Code coverage configuration
# See: https://coverage.readthedocs.io/
[run]
omit =
    # skip test directories
    */tests/*
    # skip DMF's CLI
    idaes/dmf/commands.py
    # skip plugins
    *_plugin.py

branch = True

[report]
show_missing = True
