--index-url https://pypi.python.org/simple/

# Put versions of dependencies, required for deployment, here.
# They will override abstract dependencies in `setup.py`
bokeh==0.12.9
pendulum==1.4.4

# Pyomo
git+https://github.com/PyUtilib/pyutilib
git+https://github.com/pyomo/pyomo.git@IDAES

# Install abstract dependencies from `setup.py`
-e .[dev]
