--index-url https://pypi.python.org/simple/

# Put versions of dependencies, required for deployment, here.
# They will override abstract dependencies in `setup.py`
bokeh==0.12.9
pendulum==1.4.4

# Pyomo
pyutilib==5.7.1
pyomo==5.6.6

# Install abstract dependencies from `setup.py`
-e .
