<!doctype html>
<html>
<title>IDAES Model Solver</title>
<!DOCTYPE HTML>
<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            var form = $('form');
            $('#sliderInput').on('change mouseup', function(){
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(this).serialize(),
                    success: function(data){
                        $('#data').html(data); // reloads the HTML (but not the JS!)
						            init();
                    }
                }).done(function(res){
                    //do something with the response from the server
                });
            });
        });
        
        var oldSliderVal = -1;

        function init()
        {
            var bubble = document.getElementById('bubble');
            var sliderInput = document.getElementById('sliderInput');

			var zoom_in_button = document.getElementById('z_in');
			var zoom_out_button = document.getElementById('z_out');

            sliderInput.addEventListener('mousemove', moveBubble);
            sliderInput.addEventListener('mousedown', show);
            sliderInput.addEventListener('mouseup', hide);
			
			      zoom_in_button.addEventListener('mouseup', zoom_in);
			      zoom_out_button.addEventListener('mouseup', zoom_out);
            sliderInput.addEventListener('mousemove', moveBubble);
            sliderInput.addEventListener('mousedown', show);
            sliderInput.addEventListener('mouseup', hide);
        }   

        var show = function(e)
        {
            bubble.style.left = e.clientX-(bubble.offsetWidth/2)+'px';  
            bubble.style.opacity = '1';
        }

        var hide = function()
        {
            bubble.style.opacity = '0';
        }

        var moveBubble = function(e)
        {
            if(oldSliderVal !== '0' && oldSliderVal !== '100')
            { 
                bubble.style.left = e.clientX-(bubble.offsetWidth/2)+'px';        
            }
            var sliderVal = sliderInput.value
            bubble.innerHTML = {{ slider_labels | safe }}[sliderVal];
            oldSliderVal = sliderVal;
        }

		var zoom_in = function(e)
		{
			//debug.innerHTML = 'in';
			raw_im.width = raw_im.width * 1.25;
			modeled_im.width = modeled_im.width * 1.25;
		}
		
		var zoom_out = function(e)
		{
			//debug.innerHTML = 'out';
			raw_im.width = raw_im.width * 0.8;
			modeled_im.width = modeled_im.width * 0.8;
		}
		
		// effectively a pair of mutex(?) locks to prevent stalling during scrolling, 
		// particularly via mousewheel
		var scrolling_from_left = false;
		var scrolling_from_right = false;
		
		function SyncScrollLeft() {
			if (!scrolling_from_left) {
				scrolling_from_right = true;
				leftpane.scrollTop = rightpane.scrollTop;
				leftpane.scrollLeft = rightpane.scrollLeft;
				//debug.innerHTML = "rightpane";
			}
			scrolling_from_left = false;
		}
		
		function SyncScrollRight() {
			if (!scrolling_from_right) {
				scrolling_from_left = true;
				rightpane.scrollTop = leftpane.scrollTop;
				rightpane.scrollLeft = leftpane.scrollLeft;
				//debug.innerHTML = "leftpane";
		    }
			scrolling_from_right = false;
		}
		
    </script>
</head>
<body>
    <div id=data>
        <h2>{{ date }}</h2>
        <body onload="init()">
            <input id="sliderInput" name="date_slider" type="range" min="0" max="{{ range }}" value="{{ slider_value }}" ng-model="cellphoneSelectedRange">

            <div id="bubble" style="position: absolute; top: 6px; width: 200px; height:20px; pointer-events: none; opacity: 0;">
            </div>
			<div id="debug"></div>
			<button class="zoom" id="z_in" type="button">Zoom In</button>
            <button class="zoom" id="z_out" type="button">Zoom Out</button>
			
        </body>
        <div class="row">
            <div class="column" id="leftpane" onscroll="SyncScrollRight()">
                <img id="raw_im" src="{{ raw_img }}"> 
            </div>
			
			<div class="column" id="rightpane" onscroll="SyncScrollLeft()">
                <img id="modeled_im" src="{{ modeled_img }}">
            </div>
        </div>
</body>
</html>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

