<!doctype html>
<html>
<title>IDAES Model Solver</title>
<!DOCTYPE HTML>
<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            var form = $('form');
            $('#sliderInput').on('change mouseup', function(){
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(this).serialize(),
                    success: function(data){
                        $('#data').html(data);
                    }
                }).done(function(res){
                    //do something with the response from the server
                });
            });
        });
        
        var oldSliderVal = -1;

        function init()
        {
            var bubble = document.getElementById('bubble');
            var sliderInput = document.getElementById('sliderInput');

            sliderInput.addEventListener('mousemove', moveBubble);
            sliderInput.addEventListener('mousedown', show);
            sliderInput.addEventListener('mouseup', hide);
        }   

        var show = function(e)
        {
            bubble.style.left = e.clientX-(bubble.offsetWidth/2)+'px';  
            bubble.style.opacity = '1';
        }

        var hide = function()
        {
            bubble.style.opacity = '0';
        }

        var moveBubble = function(e)
        {
            if(oldSliderVal !== '0' && oldSliderVal !== '100')
            { 
                bubble.style.left = e.clientX-(bubble.offsetWidth/2)+'px';        
            }
            var sliderVal = sliderInput.value
            bubble.innerHTML = {{ slider_labels | safe }}[sliderVal];
            oldSliderVal = sliderVal;
        }

    </script>
</head>
<body>
    <div id=data>
        <h2>{{ date }}</h2>
        <body onload="init()">
            <input id="sliderInput" name="date_slider" type="range" min="0" max="{{ range }}" value="{{ slider_value }}" ng-model="cellphoneSelectedRange">

            <div id="bubble" style="position: absolute; top: 6px; width: 200px; height:20px; pointer-events: none; opacity: 0;">
            </div>
        </body>
        <div class="row">
            <div class="column">
                <img src="{{ raw_img }}"> 
            </div>
            <div class="column">
                <img src="{{ modeled_img }}">
            </div>
        </div>
</body>
</html>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/rangeslider.css') }}">
