/*

Custom local modifications to HTML theme.

*/

/* get rid of some strange stuff with long pages*/
body {
    min-height: auto;
}

/* for code blocks */
div.highlight pre {
    font-size: 100%;
}

/* allow wider pages */
.wy-nav-content {
    max-width: 95%; /* default=800px */
}

/* Make headings more distinct */
h1 {
    color: rgb(36,112,161);
    font-size: 180%;
}
h2 {
    font-size: 140%;
}
/* Override some of the decorations on definition lists.
 * By only modifying the "simple" class of 'dl', we do not change the display properties of
 * Python methods and classes (which also use definition lists).
 */
.rst-content dl.simple dt,  .rst-content dl.simple dt:first-child {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: rgb(64, 64, 64);
    font-size: 110%;
    margin-bottom: 0px;
}

/* --- Contents index-table changes --- */

/* Set table values to top align & add padding in index-table*/
.rst-content .index-table.docutils tbody tr.row-even td,
.rst-content .index-table.docutils tbody tr.row-odd td {
	vertical-align: top;
    padding: 0.8em;
    background-color: #edf8e9;
    border: 3px solid #e1e4e5;
    font-size: 110%;
}
/* Reduce definition list padding inside the index table */
.rst-content .index-table.docutils tbody tr td dl {
    margin: 0;
    padding: 0;
}

/* Left align definitions inside index-tables */
.rst-content .index-table.docutils tbody tr td dl dd {
    margin-left: 0.5em;
}

/* Make line-blocks in index tables less spaced out */
.rst-content .index-table.docutils .line-block {
    line-height: 1.25em;
    margin: 0;
}


/* Set defined list to more generic styling in index-table*/
.index-table dl:not(.docutils) dt {
    font-size: 100%;
    background: none;
    color: #404040;
    border-top: none;
}
/* --- end: Contents index-table changes --- */

 */
.simulated-codeblock.literal-block pre{
  background: #eeffcc;
}

/* Collapsible section for hidden content*/
.collapsible {
    margin: 2%;
}

.collapsible .header {
    display: inline;
    clear: both;
}

.collapsible .header p:before {
    font-family: "FontAwesome"; 
    content: "\f0fe";
    padding-right: 5px;
    color: #2470a1;
}

.collapsible .header.open p:before {
    font-family: "FontAwesome"; 
    content: "\f146";
    padding-right: 5px;
    color: #2470a1;
}

.collapsible .header p:after {
    content: "(See More)";
    padding: 5px;
    font-size: 75%;
    color: #2470a1;
    
}

.collapsible .header.open p:after {
    content: "(See Less)";
    padding: 5px;
    font-size: 75%;
    color: #2470a1;
}

/* Sidebar for quickstar guides*/
.quickstart-toc.sidebar{
    width: 25%;
}

.quickstart-toc.sidebar .sidebar-title{
    text-align: center;
}

