/*

Custom local modifications to HTML theme.

*/

/* get rid of some strange stuff with long pages*/
body {
    min-height: auto;
}

/* for code blocks */
div.highlight pre {
    font-size: 100%;
}

/* allow wider pages */
.wy-nav-content {
    max-width: 1000px; /* default=800 */
}

/* Make headings more distinct */
h1 {
    color: rgb(36,112,161);
    font-size: 180%;
}
h2 {
    font-size: 140%;
}