/*

Custom local modifications to HTML theme.

*/

/* get rid of some strange stuff with long pages*/
body {
    min-height: auto;
}

/* for code blocks */
div.highlight pre {
    font-size: 100%;
}

/* allow wider pages */
.wy-nav-content {
    max-width: 1000px; /* default=800 */
}

/* eliminate table horiz. scrolling */
.wy-table-responsive table td {
    white-space: normal;
}