name: PR approved

on:
  pull_request:
    types: [labeled]

jobs:
  check-skip:
    name: Check if integration tests should run
    # NOTE: the name of the special label is hardcoded here
    # it would be better to extract it to a more global location, e.g. the workflow-level env context,
    # but the env context is not available in job-level if expressions (only step-level ones)
    if: contains(github.event.label.name, 'approved')
    runs-on: ubuntu-latest
    steps:
      - name: Notify
        run: echo "The integration tests will run"
  pytest:
    name: Integration tests (py${{ matrix.python-version }}/${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: [check-skip]
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.6'
          - '3.7'
          - '3.8'
        os:
          - ubuntu-18.04
          - windows-latest
    steps:
      - name: Display debug info
        run: |
          echo '${{ toJSON(matrix) }}'
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up idaes
        uses: ./.github/actions/setup-idaes
        with:
          install-target: '.'
      - name: Run pytest (integration)
        run: |
          pytest -m 'integration' --cov
      - name: Upload coverage report to Codecov
        run: |
          bash <(curl -s https://codecov.io/bash)
