[files]
extend-exclude = ["*.eps", "*.css", "*.map", "*.svg"]

[default.extend-words]
# Ignore IDAES
IDAES = "IDAES"
idaes = "idaes"
IDAE = "IDAE"
# HELMET - HELMholtz
HEL = "HEL"
gam = "gam"
# Datas
Datas = "Datas"
# ba triggers in docs
ba = "ba"
# Ignore complimentarity
complimentarity = "complimentarity"
# Attemp == Attemperator
Attemp = "Attemp"
attemp = "attemp"
# Ficks Law
Ficks = "Ficks"
# scaling - ue
ue = "ue"
# Nd in Atom
Nd = "Nd"
nd = "nd"
# suh in HELMholtz
suh = "suh"
# ther - assuming thermal
ther = "ther"
# KNO3
KNO = "KNO"
# Equil == equilibrium
equil = "equil"
# Ignore astroid package
astroid = "astroid"
# delt == delta
delt = "delt"
# Minimal Infeasible System
mis = "mis"
MIS = "MIS"
# TEMPORARY - Remove after example update
# used in docs/how_to_guides/workflow/data_rec_parmest.rst
upadate = "upadate"

# false positive from 1.20.3
RTO = "RTO"
PN = "PN"
hd = "hd"
Tge = "Tge"
iy = "iy"
